body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vw;
  background-color: #f4f4f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.log-out__button {
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 30px;
  width: max-content;
  height: 50px;
  background-color: #1b3c44;
  border: 2px solid #1b3c44;
  border-radius: 20px;
  color: #5ec4bc;
  font-weight: bolder;
}

.log-out__button:hover {
  border-color: #5ec4bc;
  background-color: #5ec4bc;
  color: #1b3c44;
}

.jokes__header {
  font-size: 45px;
}

.section__jokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.get-review-jokes-container {
  z-index: 0;
  display: flex;
  width: 80%;
  max-width: 300px;
}

.get-joke__button,
.review-jokes__button {
  flex-basis: 50%;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border-radius: 7px;
  font-weight: bolder;
  border: 2px solid #1b3c44;
  background-color: #1b3c44;
  color: #ffcc00;
}

.get-joke__button:hover {
  border-color: #ffcc00;
  background-color: #ffcc00;
  color: #1b3c44;
}

.review-jokes__button:hover {
  color: #f4f4f2;
}

.get-joke-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.joke-text {
  text-align: center;
}

.skip-joke__button,
.save-joke__button {
  height: 30px;
  border: 2px solid #ffcc00;
  border-radius: 7px;
  background-color: #ffcc00;
  color: #1b3c44;
  font-weight: bolder;
}

.skip-joke__button:hover,
.save-joke__button:hover {
  border-color: #5ec4bc;
  background-color: #5ec4bc;
}

.joke-rating-container {
  display: none;
  flex-direction: column;
  margin-top: 15px;
}

.joke-rating__text {
  font-weight: bold;
}

.joke-rating__input {
  margin: 10px;
  height: 30px;
  border: 2px solid #1b3c44;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
}

.joke-rating__input:focus {
  outline: 0;
}

.submit__button {
  height: 30px;
  border: 2px solid #2b3d46;
  border-radius: 7px;
  background-color: #2b3d46;
  color: #f4f4f2;
}

.submit__button:hover {
  color: #df3445;
}

.review-jokes-container {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
}

.jokes-informations {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.joke__id,
.joke__text,
.joke__rating {
  text-align: center;
}

.delete__button {
  margin-bottom: 20px;
  height: 30px;
  background-color: #df3445;
  color: white;
  border: 2px solid #f1f3f6;
  border-radius: 10px;
}

.previous__button,
.next__button {
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  color: #f4f4f2;
  font-weight: bolder;
}

.previous__button:hover,
.next__button:hover {
  background-color: #f4f4f2;
  color: black;
}

.action-confirmation-modal {
  position: absolute;
  z-index: 2;
  top: -30px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  min-width: 280px;
  background-color: #fefefe;
}

.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 2px solid #aaa;
}

.modal__title {
  margin-left: 15px;
}

.close__button {
  margin-top: 10px;
  margin-right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close__button:hover {
  color: black;
  text-decoration: none;
}

.modal__text-wrapper {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #aaa;
}

.modal__text {
  margin-left: 15px;
  color: #6d6d6d;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.modal__button {
  margin: 10px;
  height: 30px;
  color: white;
  border: 2px solid #fefefe;
  border-radius: 5px;
}

.modal__button--close {
  background-color: #6a737c;
}

.modal__button--delete {
  margin-right: 30px;
  background-color: #df3445;
}
